<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientEndPointBehavior">
          <clientCredentials>
            <clientCertificate findValue="0a dc 42 30 51 45 e5 3a 07 eb c2 fd 61 99 29 c7 f1 24 d6 0d" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint name="wch" address="https://localhost/WcfTwoWayAuthentication/Home.svc" 
                behaviorConfiguration="clientEndPointBehavior"
        binding="webHttpBinding" bindingConfiguration="clientBindingCfg"
        contract="WcfTwoWayAuthenticationClient.IHome"  />
    </client>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="clientBindingCfg">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </basicHttpBinding>-->
      <webHttpBinding>
        <binding name="clientBindingCfg">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>