<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <!--单位是b,优先级比较低，代码读取请求体的时候才校验触发，好像不起作用，待研究-->
      <httpRuntime maxRequestLength="104857600" />
    </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--maxAllowedContentLength单位是b，优先级比maxRequestLength高-->
        <requestLimits maxAllowedContentLength="104857600"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
