<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RestfulCorsWcf.UserInfo">
        <endpoint address="http://localhost:8021/UserInfo" behaviorConfiguration="apiendpointbehaviormaster"
          binding="webHttpBinding" contract="RestfulCorsWcf.IUserInfo" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior  name="apiendpointbehaviormaster">
          <!--helpEnabled-自动生成api的帮助信息文档-->
          <!--automaticFormatSelectionEnabled-响应格式自动选择-如果作为请求的HTTP消息具有Accept报头，则根据该报头决定回复消息的格式-如果作为请求的HTTP消息具有Content-Type报头，则根据该报头决定回复消息的格式-->
          <webHttp  helpEnabled="true" automaticFormatSelectionEnabled="true"  defaultOutgoingResponseFormat="Json"  />
          <!--这个设置不影响使用cors跨域，可能是以前jsop时代的遗留下的-->
          <!--<enableWebScript />-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="apiservicebehaviormaster">
          <!--如果不做全局异常，那么返回500的时候，是否包含详细的异常相关信息-->
          <!--<serviceDebug includeExceptionDetailInFaults="true"/>-->
          <!--元数据相关，api的和这个没啥关系-->
          <!--<serviceMetadata httpGetEnabled="false"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <!--这个设置不影响使用cors跨域，可能是以前jsop时代的遗留下的-->
        <!--<binding name="apibindingmaster"  crossDomainScriptAccessEnabled="false" />-->
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>