<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint name="wch" address="https://localhost/WcfTwoWayAuthentication/Home.svc" behaviorConfiguration="clientEndPointBehavior"
        binding="basicHttpBinding" bindingConfiguration="clientBindingCfg"
        contract="Klz.Cert.Client.IHomeHandler"  />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="clientBindingCfg">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>

          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientEndPointBehavior">
          <clientCredentials>
            <clientCertificate findValue="0a dc 42 30 51 45 e5 3a 07 eb c2 fd 61 99 29 c7 f1 24 d6 0d" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
