<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfTwoWayAuthentication.Home" >
        <endpoint address="" binding="webHttpBinding" contract="WcfTwoWayAuthentication.IHome"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!--如果endpoint不显式指定，默认会使用【name=""】的配置-->
        <behavior name="">
          <serviceMetadata   httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <!--<basicHttpBinding>
        --><!--如果endpoint不显式指定，默认会使用【name=""】的配置--><!--
        <binding name="">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </basicHttpBinding>-->
      <webHttpBinding>
        <binding name="">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
